<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexan.findevents"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity 
            android:name="com.alexan.findevents.StartupActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.alexan.findevents.LaunchActivity"></activity>
        <activity android:name="com.alexan.findevents.WelcomeActivity"></activity>
        <activity android:name="com.alexan.findevents.LoginActivity"></activity>
        <activity android:name="com.alexan.findevents.RegisterActivity"></activity>
        <activity android:name="com.alexan.findevents.FrameworkActivity"
            android:launchMode="singleTop"></activity>
        <activity android:name="com.alexan.findevents.PickSpotActivity"></activity>
        <activity android:name="com.alexan.findevents.event.EventDetailActivity"></activity>
        <activity android:name="com.alexan.findevents.event.EventSearchActivity"></activity>
        <activity android:name="com.alexan.findevents.event.PublishEventActivity"></activity>
        <activity android:name="com.alexan.findevents.event.SearchResultActivity"></activity>
        <activity android:name="com.alexan.findevents.event.PickAddrActivity"></activity>
        <activity android:name="com.alexan.findevents.event.PickGroupActivity"></activity>
        <activity android:name="com.alexan.findevents.event.EventCommentActivity"></activity>
        <activity android:name="com.alexan.findevents.event.EventReportActivity"></activity>
        
        <activity android:name="com.alexan.findevents.friend.CircleAddActivity"></activity>
        <activity android:name="com.alexan.findevents.friend.CircleListActivity"></activity>
        <activity android:name="com.alexan.findevents.friend.FriendAddActivity"></activity>
        <activity android:name="com.alexan.findevents.friend.FriendInfoActivity"></activity>
        <activity android:name="com.alexan.findevents.friend.FriendMainPageActivity"></activity>
        <activity android:name="com.alexan.findevents.friend.GroupListActivity"></activity>
        <activity android:name="com.alexan.findevents.friend.ContactListActivity"></activity>
        
        <activity android:name="com.alexan.findevents.me.HistoryViewActivity"></activity>
        <activity android:name="com.alexan.findevents.me.MeMainPageActivity"></activity>
        <activity android:name="com.alexan.findevents.me.MyCollectionActivity"></activity>
        <activity android:name="com.alexan.findevents.me.MyCommentActivity"></activity>
        <activity android:name="com.alexan.findevents.me.MyShareActivity"></activity>
        <activity android:name="com.alexan.findevents.me.PublishListActivity"></activity>
        <activity android:name="com.alexan.findevents.me.SpotListActivity"></activity>
        <activity android:name="com.alexan.findevents.me.SpotAddActivity"></activity>
        <activity android:name="com.alexan.findevents.me.SpotInfoActivity"></activity>
        <activity android:name="com.alexan.findevents.me.GroupAddActivity"></activity>
        <activity android:name="com.alexan.findevents.me.GroupInfoActivity"></activity>
        
        <activity android:name="com.alexan.findevents.settings.AboutUsActivity"></activity>
        <activity android:name="com.alexan.findevents.settings.AccountAttachActivity"></activity>
        <activity android:name="com.alexan.findevents.settings.AccountInfoActivity"></activity>
        <activity android:name="com.alexan.findevents.settings.FeedbackActivity"></activity>
        <activity android:name="com.alexan.findevents.settings.LanguageSettingActivity"></activity>
        <activity android:name="com.alexan.findevents.settings.NotifySettingActivity"></activity>
        <activity android:name="com.alexan.findevents.settings.PrivacySettingActivity"></activity>
        <activity android:name="com.alexan.findevents.settings.SafeSettingActivity"></activity>
        <activity android:name="com.alexan.findevents.settings.SettingsActivity"></activity>
    </application>

</manifest>
